.page-con {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 50vh;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .page-con {
    flex-direction: column;
    padding-bottom: 150px;
    justify-content: flex-start;
  }

  .page-con h2 {
    margin: 0;
  }
}
