.H-con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  padding: 80px;
  text-overflow: inherit;
}

.H-con h1 {
  margin-top: 80px;
  margin-bottom: 15px;
}

.H-con p {
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .H-con {
    padding: 10px;
    padding-left: 35px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .H-con h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
