.sec {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  text-overflow: inherit;
  height: 50vh;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sec {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 200px;
    justify-content: flex-start;
  }
}
